includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - app
        - config
        - routes
        - tests
    tmpDir: storage/phpstan
    excludePaths:
        - bootstrap/cache/*
        - config/database.php
    reportUnmatchedIgnoredErrors: true
