{$APP_DOMAIN} {
	root * /var/www/public

	encode zstd gzip

	php_fastcgi app:9000
	file_server

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	log
}
